In [84]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import UserDefinedFunction
from pyspark.sql.types import FloatType

spark = SparkSession.Builder().appName('Spark DataFrame Introduction').getOrCreate()

dollarDF = spark.read.option('inferSchema','true')\
                        .option('header','false')\
                        .option('delimiter','\t').csv('datasets/DollarDataset.txt')

dollarDF = dollarDF.withColumnRenamed('_c0','id')
dollarDF = dollarDF.withColumnRenamed('_c1','tarih')
dollarDF = dollarDF.withColumnRenamed('_c2','fiyat')
dollarDF = dollarDF.filter(dollarDF['fiyat'].isNotNull())
dollarDF = dollarDF.drop('id')
#dollarDF.show(1000)
rdd = dollarDF.rdd.zipWithIndex()
dollarDF = rdd.map(lambda x : (x[1],x[0][0],x[0][1])).toDF()
dollarDF = dollarDF.withColumnRenamed('_1','id')
dollarDF = dollarDF.withColumnRenamed('_2','tarih')
dollarDF = dollarDF.withColumnRenamed('_3','fiyat')

def stringToFloat(f):
    f = f.replace('.','') #Noktayı siliyoruz
    f = f.replace(',','.') # , (virgül) olan yerleri . (nokta) ile değiştiriyoruz
    return float(f)

stringToFloatUDF = UserDefinedFunction(stringToFloat,FloatType())
dollarDF = dollarDF.withColumn("fiyat",stringToFloatUDF('fiyat'))
dollarDF.printSchema()

dollarDF2 = dollarDF
dollarDF2 = dollarDF2.withColumn("id",dollarDF2['id']+1)
dollarDF2 = dollarDF2.withColumnRenamed('fiyat','fiyat2')
dollarDF2 = dollarDF2.withColumnRenamed('tarih','tarih2')
dollarDF2 = dollarDF2.select('id','tarih2','fiyat2')

dollarDF2.show(2)
dollarDF.show(2)

joinedDF = dollarDF2.join(dollarDF,'id')
joinedDF = joinedDF.sort('id')

joinedDF = joinedDF.withColumn('oran', (joinedDF["fiyat"]*100/joinedDF["fiyat2"])-100)

joinedDF = joinedDF.sort('oran',ascending=False)

joinedDF.show()

root
 |-- id: long (nullable = true)
 |-- tarih: string (nullable = true)
 |-- fiyat: float (nullable = true)

+---+----------+------+
| id|    tarih2|fiyat2|
+---+----------+------+
|  1|02-01-1950|   2.8|
|  2|03-01-1950|   2.8|
+---+----------+------+
only showing top 2 rows

+---+----------+-----+
| id|     tarih|fiyat|
+---+----------+-----+
|  0|02-01-1950|  2.8|
|  1|03-01-1950|  2.8|
+---+----------+-----+
only showing top 2 rows

+-----+----------+---------+----------+---------+------------------+
|   id|    tarih2|   fiyat2|     tarih|    fiyat|              oran|
+-----+----------+---------+----------+---------+------------------+
| 2683|19-08-1960|      2.8|22-08-1960|      9.0|221.42857690246746|
| 7589|24-01-1980|     35.0|25-01-1980|     70.0|             100.0|
| 5201|07-08-1970|      9.0|10-08-1970|    14.85|              65.0|
|12912|22-02-2001| 685391.0|23-02-2001| 957879.0|39.756582738903774|
|11172|05-04-1994| 23031.84|06-04-1994| 31988.89|38.889859503259004|
| 7433|11-06-1979|     26.5|12-06-1979|     35.0|32.075471698113205|
| 7108|28-02-1978|    19.25|01-03-1978|     25.0| 29.87012987012986|
|11173|06-04-1994| 31988.89|07-04-1994| 39853.13|24.584282922440366|
|11125|26-01-1994| 15155.63|27-01-1994|  17215.5| 13.59145171210291|
|12913|23-02-2001| 957879.0|26-02-2001|1072988.0|12.017071049683722|
|11186|25-04-1994| 30658.56|26-04-1994| 33925.01|10.654290008595808|
|12936|03-04-2001|1114738.0|04-04-2001|1232604.0|10.573426222125732|
| 6997|20-09-1977|     17.5|21-09-1977|    19.25|              10.0|
|12935|02-04-2001|1020560.0|03-04-2001|1114738.0| 9.228070863055578|
|13010|17-07-2001|1366647.0|18-07-2001|1482571.0|  8.48236889262553|
|11211|02-06-1994| 30623.63|03-06-1994|  33181.5| 8.352599181889445|
|11270|24-08-1994|  32583.7|25-08-1994| 35291.28| 8.309617527073001|
|14843|22-10-2008|     1.52|23-10-2008|     1.63|7.2368434509081965|
|12933|29-03-2001| 992354.0|30-03-2001|1056544.0| 6.468457828557149|
|12922|14-03-2001| 941519.0|15-03-2001| 999788.0| 6.188828903081088|
+-----+----------+---------+----------+---------+------------------+
only showing top 20 rows

In [88]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import UserDefinedFunction
from pyspark.sql.types import FloatType

spark = SparkSession.Builder().appName('Spark DataFrame Introduction').getOrCreate()

depremDF = spark.read.option('inferSchema','true')\
                        .option('header','true')\
                        .option('delimiter','\t').csv('datasets/EarthquakeDataset.txt')

depremDF = depremDF.select("Latitude","Longitude","xM","Location")
depremDF.show()

+--------+---------+---+--------------------+
|Latitude|Longitude| xM|            Location|
+--------+---------+---+--------------------+
| 37.8435|  26.7775|3.8|          EGE DENIZI|
| 36.4918|  28.7092|3.9|             AKDENIZ|
|  37.796|  26.4165|4.4|ONIKI ADALAR (AKD...|
| 38.4172|  39.1482|3.9|KAVAKKOY-SIVRICE ...|
|  36.475|  28.7852|4.2|             AKDENIZ|
|  38.505|   39.218|5.6|KAVAKTEPE- (ELAZI...|
| 38.5305|  39.2102|4.1|KAVAKTEPE- (ELAZI...|
| 38.0033|  42.9642|3.9|KORULU-CATAK (VAN...|
| 36.5213|   28.695|3.7|             AKDENIZ|
| 37.8888|  27.6075|3.7|DAGKARAAGAC-GERME...|
| 35.7737|   36.447|3.9|              SURIYE|
| 37.8967|  43.8062|4.5|AYDEMIR-BASKALE (...|
|  37.126|  28.5738|4.0|ARICILAR-ULA (MUG...|
| 37.1175|  31.0832|3.7|ETLER-SERIK (ANTA...|
| 35.7012|  26.2608|3.6|             AKDENIZ|
| 35.7032|  26.2382|4.6|             AKDENIZ|
|  35.704|  26.2952|3.8|             AKDENIZ|
|  35.691|  26.2818|3.9|             AKDENIZ|
| 38.8573|  43.5082|4.7|ERMISLER- (VAN) [...|
|  37.683|  27.0502|3.5|MILLI PARK-KUSADA...|
+--------+---------+---+--------------------+
only showing top 20 rows